# built binaries
build/
pixie/output/
agent/fos-agent

# built frontend
server/internal/api/static/*
!server/internal/api/static/.gitkeep
web/dist/

# Go workspace
go.work.sum

# IDE settings
.vscode/

# AI agent assist
.agents/
skills-lock.json
